<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/99095233a7.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >ADMINISTRATOR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/adminaddrest">Dodaj restoran
                    <!--<span class="sr-only">(current)</span>-->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminrest">Dodaj administratora restorana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/managefood">Menadžer tipova</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pregled usluga</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/managerrest">Restorani</a>
                    <a class="dropdown-item" href="/manageponude">Ponude</a>
                    <a class="dropdown-item" href="/managenarudzbe">Narudzbe</a>
                    <div class="dropdown-divider"></div>

                </div>
            </li>
        </ul>
        <a href="/"><button class="btn btn-danger my-2 my-sm-0" type="button">LogOut</button></a>
    </div>
</nav>




<form action="/adminaddrest" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Unesite naziv restorana</label>
            <input type="text" class="form-control" id="" name = "restaurantname" placeholder="Unesite naziv">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Izaberite tip restorana:</label>
            <select name="rid" class="form-control" id="exampleSelect1">
                <%for(let i=0;i<restauranttypes.length;i++) {%>
                <option value="<%=restauranttypes[i].restaurant_type_id%>"><%=restauranttypes[i].name%></option>
                <%}%>
            </select>

        </div>
        <div class="form-group">
            <label for="exampleSelect1">Izaberite tip hrane</label>
            <select name="fid" class="form-control" id="exampleSelect1">
                <%for(let i=0;i<foodtypes.length;i++) {%>
                <option value="<%=foodtypes[i].food_id%>"><%=foodtypes[i].food_name%></option>
                <%}%>

            </select>
        </div>
        <div class="form-group">
            <label for="exampleSelect2">Izaberite broj zvjezdica:</label>
            <select name="sid" multiple="" class="form-control" id="exampleSelect2">
                <%for(let i=0;i<stars.length;i++) {%>
                <%=console.info(stars[i].review_id)%>
                <option value="<%=stars[i].review_id%>"><%=stars[i].number%></option>
                <%}%>

            </select>
        </div>
    <div class="form-group">
        <label for="exampleSelect2">Izaberite grad u kojem se nalazi:</label>
        <select name="cid" multiple="" class="form-control" id="exampleSelect2">
            <<%for(let i=0;i<cities.length;i++) {%>
            <option value="<%=cities[i].city_id%>"><%=cities[i].city_name%></option>
            <%}%>

        </select>
    </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</form>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>