<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/99095233a7.js" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ADMINISTRATOR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/adminaddrest">Dodaj restoran
                    <!--<span class="sr-only">(current)</span>-->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminrest">Dodaj administratora restorana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/managefood">Menadžer tipova</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pregled usluga</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/managerrest">Restorani</a>
                    <a class="dropdown-item" href="#">Ponude</a>
                    <a class="dropdown-item" href="#">Narudzbe</a>
                    <div class="dropdown-divider"></div>

                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">LogOut</button>
        </form>
    </div>
</nav>

<div class="container cardx">

    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="getTypes()">Izlistaj sve tipove</button>

            <table class="table table-hover" id="tabletypes" style="display: none">
                <thead>
                <tr>
                    <th scope="col">Tip hrane</th>
                </tr>
                </thead>
                <tbody>
                <%for(let i =0;i<foodtypes.length;i++){%>
                <tr class="table-primary">
                    <td id="answer"><%=foodtypes[i].food_name%></td>
                    <td>
                        <form method="POST" action="/managefood" id="myForm">
                            <input type="hidden" name="cid" value="<%=foodtypes[i].food_name%>">
                            <input type="hidden" name="idD" value="<%=foodtypes[i].food_id%>">
                            <input class="form-control form-control-sm" name="anothervalue" id="anothervalue" type="text" placeholder="Nova izmjena" >
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="submit" class="btn btn-success" onclick="updateType">Izmijeni</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteType(<%=i+1%>)">Izbrisi</button>


                                </div>
                            </div>

                        </form>



                    </td>
                </tr>

                <%}%>

                </tbody>
            </table>




            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Dodajte novi tip hrane:</div>
                <div class="card-body">
                    <form action="/managefood/ins" method="post">
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" name="newvalue" placeholder="Sta nam novo spremate?" id="inputLarge">
                            <button type="submit" class="btn btn-secondary" >Dodaj</button>
                        </div>

                    </form>


                </div>
            </div>
        </div>



        <div class="col-sm">
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="getCat()">Izlistaj sve kategorije</button>

            <table class="table table-hover" id="tablecategory" style="display: none">
                <thead>
                <tr>
                    <th scope="col">Kategorija hrane</th>
                </tr>
                </thead>
                <tbody>
                <%for(let i =0;i<foodcategory.length;i++){%>
                <tr class="table-secondary">
                    <td id="answer"><%=foodcategory[i].category_name%></td>
                    <td>
                        <form method="POST" action="/managefood" id="myFormCat">
                            <input type="hidden" name="cid" value="<%=foodcategory[i].category_name%>">
                            <input type="hidden" name="idD" value="<%=foodcategory[i].category_id%>">
                            <input class="form-control form-control-sm" name="anothervalue" id="anothervalue" type="text" placeholder="Nova izmjena" >
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="submit" class="btn btn-success" onclick="updateType">Izmijeni</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteType(<%=i+1%>)">Izbrisi</button>


                                </div>
                            </div>

                        </form>



                    </td>
                </tr>

                <%}%>

                </tbody>
            </table>




            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Dodajte novu kategoriju hrane:</div>
                <div class="card-body">
                    <form action="/managefood/ins" method="post">
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" name="newvalue" placeholder="Sta nam novo spremate?" id="inputLarge">
                            <button type="submit" class="btn btn-primary" >Dodaj</button>
                        </div>

                    </form>


                </div>
            </div>
        </div>



        <div class="col-sm">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="getRest()">Izlistaj sve tipove restorana</button>

            <table class="table table-hover" id="tablerestaurant" style="display: none">
                <thead>
                <tr>
                    <th scope="col">Tipovi restorana</th>
                </tr>
                </thead>
                <tbody>
                <%for(let i =0;i<restauranttype.length;i++){%>
                <tr class="table-primary">
                    <td id="answer"><%=restauranttype[i].name%></td>
                    <td>
                        <form method="POST" action="/managefood" id="myFormCat">
                            <input type="hidden" name="cid" value="<%=restauranttype[i].name%>">
                            <input type="hidden" name="idD" value="<%=restauranttype[i].restaurant_type_id%>">
                            <input class="form-control form-control-sm" name="anothervalue" id="anothervalue" type="text" placeholder="Nova izmjena" >
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="submit" class="btn btn-success" onclick="updateType">Izmijeni</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteType(<%=i+1%>)">Izbrisi</button>


                                </div>
                            </div>

                        </form>



                    </td>
                </tr>

                <%}%>

                </tbody>
            </table>




            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Dodajte novi tip restorana:</div>
                <div class="card-body">
                    <form action="/managefood/ins" method="post">
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" name="newvalue" placeholder="Sta nam novo spremate?" id="inputLarge">
                            <button type="submit" class="btn btn-secondary" >Dodaj</button>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var counter = 0;
    function getTypes(){
        counter++;
        if(counter%2==0){
            $('#tabletypes').hide('slow');
        }else{
            $('#tabletypes').show('slow');
        }

    };
    function getCat(){
        counter++;
        if(counter%2==0){
            $('#tablecategory').hide('slow');
        }else{
            $('#tablecategory').show('slow');
        }

    };
    function getRest(){
        counter++;
        if(counter%2==0){
            $('#tablerestaurant').hide('slow');
        }else{
            $('#tablerestaurant').show('slow');
        }

    };

    function updateType(){
        $.ajax({
            url:"/managefood",
            method : "POST",
            success:function (result){
                console.info(result);
            }
        })
    }
    function updateCat(){
        $.ajax({
            url:"/managefoodcat",
            method : "POST",
            success:function (result){
                console.info(result);
            }
        })
    }

    function deleteType(id){
        $.ajax({
            url: "/managefood/" + id,
            method: "DELETE",
            success: function (result){
                console.info(result);
            }
        });
    }
    function deleteCat(id){
        $.ajax({
            url: "/managefoodcat/" + id,
            method: "DELETE",
            success: function (result){
                console.info(result);
            }
        });
    }
    function insertType(name){
        $.ajax({
            url: "/managefood/" +name,
            method: "PUT",
            success: function (result){
                console.info(result);
            }
        });
    }
    function getArticles(){
        counter=0;
        if(counter%2==0){
            $('#tablearticle').hide('slow');
        }else{
            $('#tablearticle').show('slow');
        }

    };

    console.info(data);


</script>
</body>
</html>
