<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/99095233a7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyB7YXNIq9harTDiKY8D6VV7-pmvxVp1Qr0"></script>

    <style>
        #map{
            height: 220px;
            width: 220px;
            border-radius: 10px;
        }
    </style>
</head>
<body>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h3 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Registrujte se kao kupac
            </h3>


            <ul>
                <%if(typeof errors != 'undefined') {%>
                <%errors.forEach(error =>{ %>
                <li><%=error.message%></li>
                <%})%>

                <%}%>
            </ul>

            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="name">Ime</label>
                    <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            placeholder="Unesi ime"
                            value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="name">Prezime</label>
                    <input
                            type="text"
                            id="last_name"
                            name="last_name"
                            class="form-control"
                            placeholder="Unesi ime"
                            value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email adresa</label>
                    <input
                            type="text"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Unesi Email"
                            value="<%= typeof email != 'undefined' ? email : '' %>"
                    />

                </div>
                <div class="form-group">
                    <label for="password">Lozinka</label>
                    <input
                            type="text"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="Vaša lozinka"
                            value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="password2">Potvrdite lozinku</label>
                    <input
                            type="text"
                            id="password2"
                            name="password2"
                            class="form-control"
                            placeholder="Potvrdite lozinku"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    />
                    <input type="hidden" name="userName" value="Customer">
                    <input type="hidden" name="type" value="6">
                </div>



                <!-- Autocomplete location search input -->
                <div class="form-group">
                    <label>Location:</label>
                    <input type="text" class="form-control" id="search_input" placeholder="Upisite adresu..." />
                    <input type="hidden" name="lat" id="loc_lat" />
                    <input type="hidden" name="lng" id="loc_long" />
                </div>

                <!-- Display latitude and longitude -->
                <div class="latlong-view">
                    <p><b>Latitude:</b> <span id="latitude_view"></span></p>
                    <p><b>Longitude:</b> <span id="longitude_view"></span></p>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    Registruj se
                </button>
            </form>
            <p class="lead mt-4">Imate li račun? <a href="/users/login">Ulogujte se</a></p>
        </div>
    </div>
</div>



<script>
    function initMap(){
        var options = {
            zoom: 13,
            center: {lat: 43.856430, lng: 18.413029}

        }
        var map = new google.maps.Map(document.getElementById('map'), options);
        var marker = new google.maps.Marker({
            position:{lat: 43.8553, lng: 18.4075 },
            map: map
        })

    }
    var searchInput = 'search_input';

    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
            document.getElementById('loc_lat').value = near_place.geometry.location.lat();
            document.getElementById('loc_long').value = near_place.geometry.location.lng();

            document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
            document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();
        });
    });
    /*
    $(document).on('change', '#'+searchInput, function () {

        document.getElementById('latitude_input').value = ' ';
        document.getElementById('longitude_input').value = ' ';

        document.getElementById('latitude_view').innerHTML = '';
        document.getElementById('longitude_view').innerHTML = '';
    });*/


</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjzc9hf-4-o_VLkACLT5SsOc5aKQLcH5k&callback=initMap">
</script>-->








</body>
</html>