<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/99095233a7.js" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyB7YXNIq9harTDiKY8D6VV7-pmvxVp1Qr0"></script>

</head>
<body>
<div class="mx-auto br" style="width: 100%; height: 100%">
    <img src="http://localhost:1000/images/upoloadedimages/brajlovic.jpeg" width="50%" height="300px" class="image-responsive col-sm-12 col-lg-12">
    <div class="centered"><h1 class="display-1"><%=title%></h1></div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/customer">RESTORANI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/customer/<%=title%>">Jelovnik</a>
            </li>
            <li  class="nav-item active">
                <a class="nav-link" href="">Informacije
                    <!--<span class="sr-only">(current)</span>-->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Utisci</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/"></a>
            </li>

            <!--AIzaSyCjzc9hf-4-o_VLkACLT5SsOc5aKQLcH5k-->

        </ul>

        <a href="/"><button class="btn btn-danger my-2 my-sm-0" type="submit">LogOut</button></a>

    </div>
</nav>
<br>
<br>

<div class="d-flex justify-content-center">

        <form action="/cart/<%=title%>" method="post">

            <div  id="container2" class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Vasa korpa: <i  class="fas fa-shopping-cart"></i></div>
                <div class="card-body">
                    <ul class="list-group">
                        <%for(let i=0;i<cart.length;i++) {%>
                        <%if (cart[i].status === false) {%>
                        <li class="list-group-item d-flex justify-content-between align-items-center" name="cartFood" value="<%=cart[i].food%>">
                            <%=cart[i].food%>
                            <span class="badge badge-primary badge-pill" name="cartPrice"><%=cart[i].price%>KM</span>
                        </li>
                        <%}%>
                        <%}%>

                    </ul>


                </div>

                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" name="card" checked="" value="cash">
                        <label class="custom-control-label" for="customSwitch1">Novac</label>
                    </div>
                        <div class="icon-container">
                            <fieldset>
                                <legend>Tip kartice</legend>
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="card" class="custom-control-input" value="visa">
                                        <label class="custom-control-label" for="customRadio1"> <i class="fa fa-cc-visa" style="color:navy;"></i></label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="card" class="custom-control-input" value="mastercard">
                                        <label class="custom-control-label" for="customRadio2"><i class="fa fa-cc-mastercard" style="color:red;"></i></label>
                                    </div>
                                </div>
                            </fieldset>

                        </div>

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Unesite vrijeme dostave</label>
                    <input type="datetime-local" class="form-control" name="timedelivery" placeholder="Unesite vrijeme dostave">
                </div>
                <input type="submit" onclick="checkOut()" class="btn btn-warning" value="Odjavi Korpu">

            </div>


        </form>
</div>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="getTypes()">Izlistaj sve dosadašnje narudžbe</button>

            <table class="table table-hover" id="tabletypes" style="display: none">
                <thead>
                <tr>
                    <th scope="col">Naziv hrane</th>
                    <th scope="col">Način plaćanja</th>
                    <th scope="col">Cijena</th>
                    <th scope="col">Ime kupca</th>
                    <th scope="col">Prezime kupca</th>
                    <th scope="col">Vrijeme dostave</th>

                </tr>
                </thead>
                <tbody>
                <%for(let i =0;i<restaurants.length;i++){%>
                <tr class="table-primary">
                    <td id="answer"><%=restaurants[i].food%></td>
                    <td id="answer"><%=restaurants[i].payement%></td>
                    <td id="answer"><%=restaurants[i].price%></td>
                    <td id="answer"><%=restaurants[i].name%></td>
                    <td id="answer"><%=restaurants[i].last%></td>
                    <td id="answer"><%=restaurants[i].time%></td>


                </tr>

                <%}%>

                </tbody>
            </table>
        </div>

</div>

<script>
    var counter = 0;
    function getTypes(){
        counter++;
        if(counter%2==0){
            $('#tabletypes').hide('slow');
        }else{
            $('#tabletypes').show('slow');
        }

    };



    /*
        $(document).ready(function(){

            var quantitiy=0;
            $('.quantity-right-plus').click(function(e){

                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                $('#quantity').val(quantity + 1);


                // Increment

            });

            $('.quantity-left-minus').click(function(e){
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                // Increment
                if(quantity>0){
                    $('#quantity').val(quantity - 1);
                }
            });

        });*/


    function listen3(param, id){
        const p = document.createElement('input');
        const b = document.createElement('br');
        p.setAttribute("type","text")
        p.setAttribute("name", "sideS");
        p.setAttribute("value", id);
        p.setAttribute("class", "sideS");
        const a = document.createElement('input');
        a.setAttribute("type","text")
        a.setAttribute("value", param);





        let value = id;
        console.info(value);
        p.innerText= value;
        console.info('p:',p);

        document.querySelector('#container2').appendChild(a);



        $('.three').hide('slow');
        $(".sideS").css("display","none");
    }


    function search1(){
        $.ajax({
            url:"/customer/Brajlovic",
            method: "POST",
            success: function (result){
                console.info(result);
            }
        });
    }
    function search2(){
        $.ajax({
            url:"/customer/Brajlovic/s2",
            method: "POST",
            success: function (result){
                console.info(result);
            }
        });
    }
    function checkOut(){
        $.ajax({
            url:"/customer/Brajlovic/s3",
            method: "POST",
            success: function (result){
                console.info(result);
            }
        });
    }


</script>
</body>
</html>